extends ../node_modules/jade-bootstrap/_bootstrap.pug

mixin pagination(adjacents, numPages, display, currentPage, base)
  - adjacents = (adjacents || 3)*1;
  - numPages = (numPages || 10)*1;
  - currentPage = (currentPage || 1)*1;
  - base = base || '#';
  - display = (display || 7) *1;

  ul.pagination
    if numPages < display + adjacents * 2
      - var p = 1;
      while p <= numPages
        if currentPage == p
          li.active
            a(href=base + p)
              | #{p}
        else
          li.page
            a(href=base + p)
              | #{p}
        - p++;
    else if numPages >= 7 + adjacents * 2
      if currentPage < 1 + adjacents * 3
        - var p = 1;
        while p < display - 3 + adjacents * 2
          if currentPage == p
            li.active
              a(href=base + p)
                | #{p}
          else
            li.page
              a(href=base + p)
                | #{p}
          - p++;
        li.disabled
          a(href="#")
            | &hellip;
        li.page
          a(href=base + (numPages - 1))
            | #{numPages - 1}
        li.page
          a(href=base + numPages)
            | #{numPages}
      else if numPages - adjacents * 2 > currentPage && currentPage > adjacents * 2
        li.page
          a(href=base + 1)
            | 1
        li.page
          a(href=base + 2)
            | 2
        li.disabled
          a(href="#")
            | &hellip;
        - var p = currentPage - adjacents;
        while p <= currentPage + adjacents
          if currentPage == p
            li.active
              a(href=base + p)
                | #{p}
          else
            li.page
              a(href=base + p)
                | #{p}
          - p++;
        li.disabled
          a(href="#")
            | &hellip;
        li.page
          a(href=base + (numPages - 1))
            | #{numPages - 1}
        li.page
          a(href=base + numPages)
            | #{numPages}
      else
        li.page
          a(href=base + 1)
            | 1
        li.page
          a(href=base + 2)
            | 2
        li.disabled
          a(href="#")
            | &hellip;
        - var p = numPages - (1 + (adjacents * 3));
        while p <= numPages
          if currentPage == p
            li.active
              a(href=base + p)
                | #{p}
          else
            li.page
              a(href=base + p)
                | #{p}
          - p++;

append body
  -function prettyDate(dateString){
    //if it's already a date object and not a string you don't need this line:
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var m = date.getMonth();
    -var y = date.getFullYear();
    -return d+'/'+m+'/'+y;
  -}
  link(rel='stylesheet', href='/stylesheets/style.css')
  .container.result-container
    h1.text-center Danh sách các xe cùng doanh thu của mỗi xe trong khoảng thời gian từ ngày bắt đầu đến ngày kết thúc
    table.table.table-condensed.table-bordered
      thead
        tr
          th Mã xe
          th Biển số
          th Màu xe 
          th Hãng sản xuất
          th Đời xe
          th Mẫu xe
          th Số ghế
          th Số năm sử dụng
          th Ngày bảo dưỡng cuối
          th Doanh thu
        for car in result
          tr
            td= car._id
            td= car.bien_so
            td= car.mau_xe
            td= car.hang_san_xuat
            td= car.doi_xe
            td= car.model
            td= car.so_ghe
            td= car.so_nam_su_dung
            td= prettyDate(car.ngay_bao_duong_cuoi)
            td= car.doanh_thu
    div.text-right
      +pagination(3, 1, 7, 1, '#')
    div.text-right
      a.btn.btn-default.w-200px.mr-12px(href="/") Quay lại trang chủ